<!DOCTYPE html>
<html>
  <head>
    <title>Items Cart</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="http://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="angularjs/itemcart.js"></script>
  </head>
  <body class="container" ng-app="itemcart" ng-controller="cartController">
    <div class="row">
    	<div class="col-md-12">
    		<div class="row">
    			<div class="col-md-12 h1 title">
    				Items Cart
    			</div>
    		</div>
    		<div class="row">
    			<div class="col-md-8" style="border-right: 2px solid white">
    				<div class="row">
    					<div class="col-md-12 h2 title">
    						All Items
    					</div>
    				</div>
    				<div class="row">
    					<div ng-repeat="item in items">
	    					<div class="col-md-6">
	    						<div class="items">
	    							<div><span>{{item.item_name}}</span></div>
	    							<div><span>${{item.item_price}}</span></div>
	    							<div class="row">
	    								<div class="col-md-4 plus-control"><button ng-click="item.item_count = item.item_count - 1" class="btn btn-success control-button">-</button></div>
	    								<div class="col-md-4 count"><input type="text" class="form-control control-button" ng-model="item.item_count"/></div>
	    								<div class="col-md-4 minus-control"><button ng-click="item.item_count = item.item_count + 1" class="btn btn-success control-button">+</button></div>
	    							</div>
	    						</div>
	    					</div>
	    				</div>
    				</div>
    			</div>
       			<div class="col-md-4">
    				<div class="row">
    					<div class="col-md-12 h2 title">
    						Cart Items
    					</div>
    				</div>
    				<div class="row">
    					<div class="col-md-12">
    						<div ng-repeat="cartItem in cartItems">
    							<div class="row items cart-items">
    								<div class="col-md-6">
    									{{cartItem.item_name}}
    								</div>
    								<div class="col-md-6">
    									<div class="row">Price: ${{cartItem.item_price}}</div>
    									<div class="row">Quantity: {{cartItem.item_count}}</div>
    								</div>
    							</div>
    						</div>
    						<div class="row total">
    							<div ng-if="total">
    								TOTAL: ${{total}}
    							</div>
    						</div>
    					</div>
    				</div>
    			</div>
    		</div>
    		<div class="row">
    			<div class="col-md-12" align="center">
    				<div ng-if="errorMessage"><span class="alert alert-danger">{{errorMessage}}</span></div>
    				<button ng-click="add()" class="btn btn-normal form-control" style="margin-top: 5%;">Add Item</button>
    			</div>
    		</div>
    	</div>
    </div>
    
  </body>
</html>
